html, body {
    margin: 0;
}
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(228, 174, 227);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(253, 206, 232);
    padding: 10px 20px 0px;
}
.header {
    background-color: #e9c5drgba(210, 154, 196, 1)d;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(168, 168, 168);
    min-height: 150px;
}
section {
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}
h1 {
    text-align: center;
}
table {
    width: 100%; /
    border-collapse: collapse;
    text-align: center; 
}


th {
    background-color: #f2f2f2; 
    padding: 10px;
}